apiVersion: v1
kind: Service
metadata:
  name: example-app
  labels:
    name: example-app
spec:
  type: NodePort
  ports:
    - name: http
      port: 80
      targetPort: 80
      nodePort: 32001
      protocol: TCP
  selector:
    name: example-app
